.reg-page {
  visibility: hidden;
}
.offer {
  padding-top: 4.167vw;
  @include sol640 {
    padding-top: 4rem;
  }

  &__container {
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 20px;
    width: 100%;
  }

  &__title {
    @include resetMg;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
    text-align: center;
    @include sol640 {
      font-size: 24px;
    }

  }

  &__block {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 16px 0 hsla(0, 0%, 74%, .53);
    box-shadow: 4px 4px 16px 0 hsla(0, 0%, 74%, .53);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    @include sol1200 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__left {
    width: min(100%, 620px);
  }

  &__right {
    width: min(80%, 500px);
  }

  &__descr {
    @include resetMg;
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 400;
    line-height: 110%;
    padding: 30px;

    @include sol640 {
      font-size: 15px;
      padding: 16px;
    }
  }
}

.timer-block {
  webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  background-color: #ff0064;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 30px;

  @include sol640 {
    padding: 16px;
  }

  &__descr {
    @include resetMg;
    width: 80%;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.3;

    @include sol640 {
      font-size: 17px;
    }
  }

  &__timer {
    padding-bottom: 2px;
    border-bottom: 3px solid #fff;
    font-size: 25px;
    color: #fff;

    @include sol640 {
      font-size: 17px;
    }
  }

}

.price-block {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 30px;

  @include sol640 {
    padding: 16px;
  }

  &__descr {
    @include resetMg;
    max-width: 500px;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;

    @include sol640 {
      font-size: 26px;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;

    .old-price {
      color: #ff0064;
      font-size: 15px;
      font-weight: 600;
      text-align: left;
      text-decoration: line-through;
      line-height: 110%;
      white-space: nowrap;

      &::after {
        content: '₽';
      }

      @include sol640 {
        font-size: 13px;
      }
    }

    .new-price {
      color: #000;
      font-size: 26px;
      font-weight: 700;
      line-height: 110%;
      white-space: nowrap;

      &::after {
        content: '₽';
      }

      @include sol640 {
        font-size: 19px;
      }
    }
  }
}

.pay-form {
  width: min(100%, 500px);
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  @include sol640 {
    padding: 16px;
  }
}

.dishes {
  padding: 30px 0;

  &__container {
    margin: 0 auto;
    width: min(100%, 1150px);
  }

  &__swiper {
    width: 100%;
    height: max(9.57vw, 220px);

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }

  picture {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: block;
    height: 100%;
  }
}

// .swiper-container {
//   padding: 0 65px;
// }

.comments {

  padding-top: 70px;
  padding-bottom: 200px;

  &__container {}

  &__list {
    width: min(100%, 580px);
    margin: 0 auto;
  }


  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }


}

.comment {

  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 235, 238, .24);
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__img {
    border-radius: 50%;
    height: 38px;
    margin-right: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 38px;

  }

  &__descr {}

  &__user {
    @include resetMg;
    color: #385898;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    font-weight: 600;
  }

  &__term {
    color: #606770;
    font-size: 12px;
  }

  &__body {
    position: relative;
    padding-bottom: 30px;
  }

  &__text {
    @include resetMg;
    display: inline-block;
    margin-right: auto;
    padding: 9px 0 7px;

    width: 100%;
    word-wrap: break-word;
    border-radius: 18px;
    color: #000;
    font-size: 18px;
    line-height: 20px;

  }

  &__reactions {
    position: absolute;
    right: 0;
    bottom: 5px;
  }

  &__bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    border-bottom: 1px solid #bcbec2;
    border-top: 1px solid #bcbec2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
  }

  &__like,
  &__replay {
    color: #606770;
    position: relative;
    width: 50%;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;

  }
}

.reactions {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;

  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  color: #8d949e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  padding: 2px 3px 2px 2px;


  &__item {}

  &__pic {
    border-radius: 50%;
    border-right: 2px solid #fff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 18px;
    position: relative;
    width: 18px;
    z-index: 5;
  }

  &__count {}
}